html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

header {
  border-bottom: 1px grey solid;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 960px;
}

h1 {
  color: grey;
  font-weight: 100;
  font-size: 5em;
  margin: 0 auto;
  text-align: center;
}

h3 {
  color: grey;
  font-weight: 100;
}

.container {
  background-color: lightgrey;
  border-radius: 20px;
  margin: 0 auto;
  width: 960px;
}

#grid,
#pallete {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 720px;
}

#grid {
  padding-top: 30px;
}

#grid:hover {
  cursor: crosshair;
}

#pallete {
  justify-content: center;
}

.pixel {
  background-color: white;
  border: 1px solid grey;
  height: 15px;
  width: 15px;
}

.pixel:hover {
  background-color: lightgrey;
}

.palleteColor {
  border-radius: 50%;
  margin: 10px;
  height: 30px;
  width: 30px;
}

.palleteColor:hover {
  cursor: pointer;
}

.colorIndicator {
  border-radius: 3px;
  margin: 10px;
  height: 30px;
  width: 50px;
}

.red {
  background-color: red;
  border-color: red;
}

.orange {
  background-color: orange;
  border-color: orange;
}

.yellow {
  background-color: yellow;
  border-color: yellow;
}

.green {
  background-color: green;
  border-color: green;
}

.blue {
  background-color: blue;
  border-color: blue;
}

.violet {
  background-color: violet;
  border-color: violet;
}

.black {
  background-color: black;
  border-color: black;
}

.grey {
  background-color: grey;
  border-color: grey;
}

.white {
  background-color: white;
  border-color: white;
}
