html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

h1 {
  font-weight: lighter;
  font-size: 5em;
  margin: 0 auto;
  text-align: center;
}

main {
  margin: 0 auto;
  width: 720px;
}

.pixel {
  background-color: white;
  border: 1px solid grey;
  height: 15px;
  width: 15px;
}

#grid,
#pallete {
  display: flex;
  flex-wrap: wrap;
}

.red {
  background-color: red;
  border-color: red;
}
